<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seckill.dao.SuccessKilledMapper" >
  <resultMap id="BaseResultMap" type="com.seckill.pojo.SuccessKilled" />
  <sql id="Base_Column_List" >
    seckill_id, user_phone, state, create_time
  </sql>
  <insert id="insert" parameterType="com.seckill.pojo.SuccessKilled" >
    insert into success_killed (seckill_id, user_phone, state, 
      create_time)
    values (#{seckillId,jdbcType=BIGINT}, #{userPhone,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.seckill.pojo.SuccessKilled" >
    insert into success_killed
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seckillId != null" >
        seckill_id,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seckillId != null" >
        #{seckillId,jdbcType=BIGINT},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seckill.pojo.SuccessKilled" >
    update success_killed
    <set >
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seckill_id = #{seckillId,jdbcType=BIGINT}
      and user_phone = #{userPhone,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seckill.pojo.SuccessKilled" >
    update success_killed
    set state = #{state,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where seckill_id = #{seckillId,jdbcType=BIGINT}
      and user_phone = #{userPhone,jdbcType=BIGINT}
  </update>
</mapper>